/* start the tags with bl */
.bl-title {
    color: var(--primary-color);
    font-family: var(--cringefont);
    font-size: calc(42px * var(--fontsizemultiplier));
    text-shadow: 2px 2px 2px #0F0F0F;
}

.bl-subtitle {
    color: white;
    font-family: var(--cringefont);
    font-size: calc(21px * var(--fontsizemultiplier));;
    text-shadow: 0px 2px 2px var(--primary-color);
    text-align: center;
    width: max-content;
}

.bl-titlecontainer {
    max-height: 15vh;
    text-align: center;
    padding-top: 1%;
}

.scroll {
    height: 92.5px;
    width: 98%-15px;
    margin: 1%;
    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 15px;
    padding: 0 7.5px;
    border: var(--primary-color);
    border-width: 5px;
    border-style: var(--borderstyle1);
}

.bg-scroll {
    height: 90px;
    width: 98%-15px;
    margin: 1%;
    margin-bottom: 0%;
    background-color: var(--color1);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 15px;
    padding: 0 7.5px;
    position: relative;
    top: calc(-100px);
    z-index: -10;
}

.bffdg::after {
    content:"";
    border-width: 10px;
    border-color: white;
    width: 5vw;
    height: 5vw;
    margin: 5px 2.5px 5px 0;
    background-color: rgba(0,0,0,0.9);
    display: inline-block;
    border-radius: 15px;
}

.bc-numbercard {
    width: 72.5px;
    height: 72.5px;
    margin: 5px 2.5px 5px 0;
    background-color: rgba(0,0,0,0.65);
    display: inline-block;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 72.5px;
    font-size: calc(20px * var(--fontsizemultiplier));
    font-family: var(--cringefont);
    color: whitesmoke;
    text-decoration: none;
}

.bc-numbercard:hover {
    background-color: rgba(0,0,0,.95);
    font-size: calc(30px * var(--fontsizemultiplier));;
    transition: all .4s ease;
    cursor: pointer;
}

.bc-blockdisplay {
    float: left;
    position: relative;
    width: calc((100% - 4%) / 2);
    height: calc(39vh - 100px);
    margin: 1%;
    margin-top: 0%;
    border-radius: 15px;
    padding: 0 7.5px;
    border: var(--primary-color);
    border-width: 5px;
    border-style: var(--borderstyle1);
    top: calc(-5vw - 20px);
    background-color: var(--primary-transparent);
}

.bc-transdisplay {
    float: right;
    position: relative;
    width: calc((100% - 4%)/ 2);
    height: calc(79vh - 200px);
    margin: 1%;
    margin-top: 0%;
    border-radius: 15px;
    padding: 0 7.5px;
    border: var(--primary-color);
    border-width: 5px;
    border-style: var(--borderstyle1);
    top: calc(-5vw - 20px);
    background-color: var(--primary-transparent);
    overflow-y: scroll;
}

.bc-emptnumbercard {
    width: 5vw;
    height: 5vw;
    margin: 5px 2.5px 5px 0;
    display: inline-block;
    border-radius: 15px;
}

.bl-small {
    font-size: calc(2vh * var(--fontsizemultiplier));;
}