@font-face{
    font-family: cyber;
    src: url('../assets/SYNNova-Bold.otf');
    font-weight: bold;
}
@font-face{
    font-family: avenir;
    src: url('../assets/AvenirNextLTPro-Regular.otf');
}

:root {
    --primary-color: #D6517d;
    --primary-transparent: rgba(214,81,125,0.1);
    --color1: rgba(214,81,125,0.25);
    --color2: linear-gradient(to right, rgba(214,81,125,0.05),rgba(214,81,125,0.25),rgba(214,81,125,0.50), rgba(214,81,125,0.75) ,rgba(214,81,125,0.50),rgba(214,81,125,0.25),rgba(214,81,125,0.05));
    --cringefont: "cyber",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --borderstyle1: ridge;
    --borderstyle2: double;
    --borderstyle3: groove;
    --borderstyle4: outset;
    --toggleVisibility: visible;
    --color3: black;

}

:root.dark-mode {
    --primary-color: #dcd3c9;
    --primary-transparent: #94a8b3;
    --color1: #bababa;
    --color2: #000000;
    --cringefont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --borderstyle1: solid; 
    --borderstyle2: solid;
    --borderstyle3: solid;
    --borderstyle4: solid;
    --toggleVisibility: hidden;
    --background-color: red;
    --color3: #dcd3c9;
}

small {
    font-size: large;
    color: white;
}

.darkbg {
    background-color: var(--color3);
    opacity: 50%;
}

.contentbg {
    width: 65%;
    height: 80%;
    position: fixed;
    left: 27.5%;
    top: 10%;
    border-radius: 25px;
}

.minebg {
    width: 65%;
    height: 80%;
    position: fixed;
    left: 27.5%;
    top: 10%;
    align-items: left;
    justify-content: flex-start;
}

#loadOverlay{display: none;}