@font-face{
    font-family: cyber;
    src: url('../assets/SYNNova-Bold.otf');
    font-weight: bold;
}

body {
    background-color: black;
}

small {
    font-size: large;
    color: white;
}

.darkbg {
    background-color: black;
    opacity: 50%;
}

.contentbg {
    width: 65%;
    height: 80%;
    position: fixed;
    left: 27.5%;
    top: 10%;
    border-radius: 50px;
    padding: 20px;
}

