/* start the tags with ho */
.ho-subbox {
    position: relative;
    width: 26.75vw;
    height: 60vh;
    background: #f00;
    padding-top: 1vh;
    border-radius: 15px;
    border: var(--primary-color);
    border-width: 5px;
    background-color: rgba(214,81,125,0.25);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    text-shadow: 0px 2px 2px var(--primary-color);
    margin-bottom: 2vw;
    z-index: 1000;
}

.ho-floatLeft{
    float: left;
    width: 40%;
    text-align: left;
    border-style: var(--borderstyle1);
    margin-left: 3vw;
    padding-left: 1vw;
    margin-right: 1.5vw;
    top: 5vh;
}

.ho-floatRight{
    float: right;
    width: 40%;
    text-align: left;
    border-style: var(--borderstyle1);
    margin-left: 1.5vw;
    padding-left: 1vw;
    margin-right: 3vw;
    top: 5vh;
}