/* start the tags with la */

.la-sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    
    font-size: 1em;
    font-family: "cyber",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .la-logo-bg {
    background: transparent;
    text-align: center;
    margin: 10% 0px;
    padding: 0px 10%;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
  }

  /* The navigation menu links */
  .la-sidenav-box {
    text-align: center;
    margin: 10% 20px;
    padding: 20px 20px;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    background-color: #D6517d;
  }

.la-navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.la-body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.la-bgvideo {
    min-width: 100vw;
    min-height: 100vh;
    z-index: -2;
}

.la-logo {
    width: 200px;
    height: auto;
    -webkit-box-shadow:0 0 20px #D6517d; 
    -moz-box-shadow: 0 0 20px #D6517d; 
    box-shadow:0 0 20px #D6517d;
    border-radius: 100px;
}

.la-overlay {
    opacity: 90%;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    top: 0;
    background-color: white;
    left: 0;
    position: fixed;
}