/* start the tags with la */

.la-sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    overflow-x: hidden;
    padding-top: 2.25vh;
    
    font-size: 1em;
    font-family: "cyber",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .la-logo-bg {
    text-align: center;
    margin: 5vh 2.25vh;
    max-width: 33.75vh;
    border-radius: 15px;
    text-decoration: none;
    font-size: 3.25vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    
  }

  /* The navigation menu links */
  .la-sidenav-box {
    text-align: center;
    margin: 5vh 2.25vh;
    padding: 2.25vh;
    max-width: 33.75vh;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    border-radius: 15px;
    text-decoration: none;
    font-size: 3.25vh;
    color: var(--textColor);
    display: block;
    background-color: #D6517d;
  }

.la-navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.la-body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.la-bgvideo {
    min-width: 100vw;
    min-height: 100vh;
<<<<<<< HEAD
    z-index: -1;
    visibility: var(--toggleVisibility);
=======
    z-index: -2;
>>>>>>> 63d400a1d17fce207c98fb3e61fbf443358310d4
}

.la-logo {
    width: 22.5vh;
    height: auto;
    -webkit-box-shadow:0 0 20px #D6517d; 
    -moz-box-shadow: 0 0 20px #D6517d; 
    box-shadow:0 0 20px #D6517d;
    border-radius: 100px;
}

.la-overlay {
    opacity: 90%;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    top: 0;
<<<<<<< HEAD
    background-color: var(--background-color);
=======
    background-color: white;
>>>>>>> 63d400a1d17fce207c98fb3e61fbf443358310d4
    left: 0;
    position: fixed;
}

.la-superdiv {
  min-width: 100vw;
  min-height: 100vh;
  z-index: -100;
  top: 0;
  background-color: transparent;
  left: 0;
  position: fixed;
}

/* Transation SCREEN START */

:root {
  --animation-time: 2s;
}

.container-left {
  float: left;
  width: 50%;
  height: 100vh;
}

.container-right {
  float: right;
  width: 50%;
  height: 100vh;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 0;
}

.time {
  display: block;
  background-color: #202124;
  width: 0%;
  top: calc(var(--i) * 10%);
  height: .4%;
}

.close {
  animation-name: expand;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-time);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes expand {
  from {
    width: 0%;
  }

  to {
    width: 200%;
  }
}

.magic {
  position: fixed;
  top: -.5vh;
  left: 95vw;
  height: 5vw;
  width: 5vw;
  font-family: "cyber",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 3vw;
  color: #282C2F;
}

/* TRANSITION SCREEN END */


/* GLITCH TEXT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  position: fixed;
  top: 0;
  left: 0;
  color: transparent;
  font-size: 1.5rem;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: -100;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  font-family: Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
}

.stack-ani {
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  color: whitesmoke;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

.glitchscreen {
  position: fixed;
  top: 0;
  left: 0;
  color: whitesmoke;
  background-color: #202124;
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: -100;
  display: none;
}

@keyframes shrink {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.01);
  }
}

.shrink {
  animation-name: shrink;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.exit-screen {
  width: 0px;
  height: 0px;
  opacity: 0%;
  background-color: whitesmoke;
}

@keyframes exit-wide {
  from {
      width: 1px;
      height: 1px;
      opacity: 100%;
  }
  to {
      width: 100%;
      height: 1px;
      opacity: 100%;
  }
}

.exit-wide {
  animation-name: exit-wide;
  animation-duration: 2s;
  opacity: 100%;
  animation-fill-mode: forwards;
}

@keyframes exit-expand {
  0% {
      width: 100%;
      height: 1px;
      opacity: 100%;
  }
  50% {
    height: 100%;
    opacity: 100%;
  }
  100% {
      width: 100%;
      height: 100%;
      opacity: 0%;
  }
}

.exit-expand {
  animation-name: exit-expand;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.infobox {
  background-color: transparent;
  font-size: 2rem;
  width: 30vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.github-link span {
  line-height: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'avenir';
  padding-top: 5px;
}

.leftinfo { grid-area: right; }

.rightinfo { grid-area: left; }

.middleinfo { grid-area: middle; }

.leavebox { grid-area: leave; }

.github-link {
  align-items: center;
  line-height: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'avenir';
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sublink {
  color: #949596;
}
.gitlink {
  margin-left: 7.5px;
  color: #FFFFFF;
}


.sublink:visited { 
  text-decoration: none; 
  color: #949596;
 }

.github-link div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #202124;
  height: 45px;
  line-height: 45px;
  border-radius: 7.5px;
  padding: 0 10px;
}

i {
  position:relative;
}

.la-nodetext {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 2vw;
  background-color: #141414;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gainsboro;
}

.la-modetoggle {
  position: fixed;
  left: calc(60vw);
  top: 90vh;
  transform: translateX(-50%);
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 1.15vw;
  background-color: #141414;
  margin-top: 1vh;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f3b994;
}

.la-modetoggle a {
  text-decoration: none;
  color: inherit;
}
.la-modetoggle a:visited { 
  text-decoration: none;
  color: inherit;
 }

 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #bbb;
  text-align: center;
  border-radius: 6px;
  padding: 5px 7.5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; 
  font-size: 1vw;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}