html {
    --primary-color: gray;
    --primary-transparent: gray;
    --color1: gray;
    --color2: gray;
    --cringefont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --borderstyle1: solid; 
    --borderstyle2: solid;
    --borderstyle3: solid;
    --borderstyle4: solid;
    --bgvid: none;
    --toggleVisibility: hidden;
}