.no-nodeContainer {
    border-width: 2px;
    border-radius: calc(.3vh + .3vw);
    border-style: solid;
    border-color: rgba(214,81,125,0.75);
    margin: 1vh;
    background-color: rgba(255,255,255,.1);
}

.no-nodeListContainer {
    height: 60vh;
    direction: ltr;
    /* width: 65vw; */
    /* border-width: 2px;
    border-radius: calc(.6vh + .9vw);
    border-style: solid;
    border-color: gainsboro; */
}

.no-nodeNumber {
    /* padding: 1vh; */
    height: 5vh;
    width: 5vh;
    font-size: 2.5vh;
    background-color: rgba(214,81,125,0.75);
    color: whitesmoke;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
    /* font-size: calc(20px * var(--fontsizemultiplier)); */
    font-family: var(--cringefont);
    text-decoration: none;
}

.no-nodeItem {
    height: 3vh;
    font-size: 2vh;
    background-color: rgba(0,0,0,0.75);
    color: gainsboro;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 3vh;
    /* font-size: calc(20px * var(--fontsizemultiplier); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    margin: 1vh .5vw;
    padding: 0 .5vw;
    border-radius: calc(.3vh + .3vw);
}

.no-curnodeInner {
    background-color: rgba(255,255,255,0.75);
    color: rgba(214,81,125,1);
}
.no-curnodeOuter {
    border-color: rgba(255,255,255,0.75);
}

.no-swapico {
    height: 3.5vh;
    width: 3.5vh;
    font-size: 2vh;
    background-color: 
    #20CC82;
    color: gainsboro;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5vh;
    text-decoration: none;
    margin: .75vh .5vw;
    border-radius: calc(.3vh + .3vw);
    float: right;
}


a {
    color: inherit
}
a:hover {
    color: inherit
}

.sync {
    background-color: wheat;
    font-size: 5vh;
    text-decoration: none;
}