@font-face{
    font-family: cyber;
    src: url('./assets/SYNNova-Bold.otf');
    font-weight: bold;
}

body {
    background-color: black;
}

small {
    font-size: large;
    color: white;
}

.contentbg {
    width: 60%;
    height: 70%;
    background-color: black;
    position: fixed;
    left: 30%;
    top: 15%;
}

.overlay {
    opacity: 85%;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
}

.bgvideo {
    min-width: 100vw;
    min-height: 100vh;
    z-index: -2;
}

.logo {
    width: 200px;
    height: auto;
    -webkit-box-shadow:0 0 20px #D6517d; 
    -moz-box-shadow: 0 0 20px #D6517d; 
    box-shadow:0 0 20px #D6517d;
    border-radius: 100px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: transparent; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    
    font-size: 1em;
    font-family: "cyber",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .logo-bg {
    background: transparent;
    text-align: center;
    margin: 10% 0px;
    padding: 0px 10%;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
  }

  /* The navigation menu links */
  .sidenav-box {
    text-align: center;
    margin: 15% 20px;
    padding: 20px 50px;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    border-radius: 15px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
    background-color: #D6517d;
  }

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
