{% extends "layout.html" %}
{% block title %}
<p>Block Title</p>
{% endblock %}

{% block content %}
<body class="bg-dark">
    <div class="contentbg darkbg">
    </div>
    <div class="contentbg">
    <div class="ho-subbox ho-floatLeft">
        Tessaract is a revolutionary cryptocurrency for money transactions. Tessaract functions using the SHA256 hashing algorithm, the PGP encryption method for signing transactions, and blockchain verification technology.
        <br><br>
        This website was created using Flask, PostgreSQL, and Heroku. 
        <br><br>
        Click the question mark in the top right corner to learn more about the creators.
    </div>
    <div class="ho-subbox ho-floatRight">
        This website is a simulation and does not actually have any monetary value attached to the coins. To add coins to your balance, please click the button below. Mine a block to receive the coins.
        <a href="{{ url_for('addcoins') }}" class="ho-Button" class="ho-loginBox">Add 20 Coins</a>
    </div>
    </div>
</body>
{% endblock %}
