{% extends "layout.html" %}
{% block title %}
Tessaract - Home
{% endblock %}

{% block content %}
<body class="bg-dark">
    <div class="contentbg darkbg">
    </div>
    <div class="contentbg">
        <h1>Tessaract<h1>
    <div class="ho-subbox ho-floatLeft">
        Tessaract is a revolutionary cryptocurrency for monetary transactions. Tessaract functions using the SHA256 hashing algorithm, the PGP encryption method for signing transactions, and blockchain verification technology.
        <br><br>
        This website was created using Flask, PostgreSQL, and Heroku. 
        <br><br>
        Click the question mark in the top right corner to learn more about the creators.
    </div>
    <div class="ho-subbox ho-floatRight">
        This website is a simulation and does not actually have any monetary value attached to the coins.
        <br><br>
        Before adding coins to your balance you must be logged in.
        <br><br>
        Once logged in, navigate to your wallet and enter <i>testaccount</i> as the reciever, and enter your desired number of coins as the amount. Any crypto sent to <i>testaccount</i> will be added to your balance.
        <br><br>
        Once the current block is mined, the coins will be in your wallet.
    </div>
    </div>
</body>
{% endblock %}
