{% extends "layout.html" %}
{% block title %}
Tessaract - Home
{% endblock %}

{% block content %}
<body class="bg-dark">
    <div class="contentbg darkbg">
    </div>
    <div class="contentbg">
    <div class="lo-subbox lo-floatLeft">
        Tessaract is a revolutionary cryptocurrency for money transactions. Tessaract functions using the SHA256 hashing algorithm, the PGP encryption method for signing transactions, and blockchain verification technology.
        <br><br>
        This website was created using Flask, PostgreSQL, and Heroku. 
        <br><br>
        Click the question mark in the top right corner to learn more about the creators.
    </div>
    <div class="lo-subbox lo-floatRight">
    </div>
    </div>
</body>
{% endblock %}
