<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <script type="text/javascript" src="https://livejs.com/live.js"></script>
    </head>

    <body>
        <div class="overlay">
            <video class="bgvideo" src="https://i.imgur.com/KEnwbfZ.mp4" muted autoPlay loop >
        </div>

        <div class="sidenav">
            <a href="{{ url_for('home') }}" class="logo-bg" ><img src="../static/assets/logo.png" class="logo"></a>
            <a href="{{ url_for('blockchain') }}" class="sidenav-box">BLOCKS</a>
            <a href="{{ url_for('mine') }}" class="sidenav-box">MINE</a>
            <a href="{{ url_for('mine') }}" class="sidenav-box">LOGIN</a>
            <a href="{{ url_for('mine') }}" class="sidenav-box">REGISTER</a>
        </div>


        <!-- <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2022</p>
            </footer>
        </div> -->
    </body>
</html>
