<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blockchain.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mine.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transaction.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wallet.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css')}}" />
    </head>

    <body>
        <button onclick="ani()" class="magic">&#63;</button>
        <div class="la-superdiv">
            
            <div class="container-left"></div>
            <div class="container-right"></div>
        </div>
        <div class="la-overlay">
            <video class="la-bgvideo" src="https://i.imgur.com/KEnwbfZ.mp4" muted autoPlay loop >
        </div>

        <div class="la-sidenav">
            <a href="{{ url_for('home') }}" class="la-logo-bg" ><img src="../static/assets/logo.png" class="la-logo"></a>
            <a href="{{ url_for('blockchain') }}" class="la-sidenav-box">BLOCKS</a>
            <a href="{{ url_for('mine') }}" class="la-sidenav-box">MINE</a>
            <a href="{{ url_for('transactions') }}" class="la-sidenav-box">SEND MONEY</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('wallet') }}" class="la-sidenav-box">WALLET</a>
                <a href="{{ url_for('logout') }}" class="la-sidenav-box">LOGOUT</a>
            {% else %}
                <a href="{{ url_for('register') }}" class="la-sidenav-box">REGISTER</a>
                <a href="{{ url_for('login') }}" class="la-sidenav-box">LOGIN</a>
            {%endif%}
            
        </div>

        <div class="la-body-content">
            {% block content %}
            {% endblock %}
            <!-- <hr/>
            <footer>
                <p>© 2022</p>
            </footer> -->
        </div>
        
  <script>
    let leftDiv = document.getElementsByClassName("container-left")[0];
    for (i = 0; i<50; i++) {
      let divElement = document.createElement('div');
      divElement.className = 'time';
      divElement.style.setProperty("--i:", i);
      leftDiv.appendChild(divElement)
    }

    let rightDiv = document.getElementsByClassName("container-right")[0];
    for (i = 0; i<50; i++) {
      let divElement = document.createElement('div');
      divElement.className = 'time';
      divElement.style.setProperty("--i:", i);
      rightDiv.appendChild(divElement)
    }

    var time = Math.random();
    var cols = document.getElementsByClassName('time');
    for (i = 0; i < cols.length; i++) {
      time = (Math.random() + 0.25) * 25;
      cols[i].style.setProperty('--animation-time', time + 's');
      time = Math.random() * 5;
      cols[i].style.setProperty('--animation-delay', time + 's');
    }

    function ani() {
      var cols = document.getElementsByClassName('time')
      for (i = 0; i < cols.length; i++) {
        cols[i].classList.add('close');
      }
      var superdiv = document.getElementsByClassName('la-superdiv')[0];
      superdiv.style.setProperty('z-index', 1000);
    }
  </script> 
    </body>
</html>
