{% extends "layout.html" %}
{% block title %}
Tessaract - Login
{% endblock %}

{% block content %}

  <title>Lucrum - Login</title>

      <!-- Custom fonts for this template--> 
  <link href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename = 'css/sb-admin.css')}}" rel="stylesheet" type="text/css">



</head>

<body class="bg-dark">
  <div class="contentbg darkbg"></div>
  <div class="contentbg">
  <div class="lo-titlecontainer">
    <br><strong class="lo-title">LOGIN</strong><br><br>
    <a href="{{ url_for('register') }}" class="bl-subtitle">Don't have an account yet?</a>
  </div>
  <div class="lo-floatLeft">
    <div class="card card-login mx-auto mt-5">
      <div class="card-body">
        {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class = "alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method = "POST", action = "">
          {{ form.hidden_tag() }}
          <div class="lo-labeltext" class="form-group">
            {% if form.username.errors  %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="lo-labeltext" class = "invalid-feedback">
                {% for error in form.username.errors %}
                  <span> {{ error }} </span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-control form-control-lg lo-loginBox")}}
            {% endif %}
          </div>
          <div class="lo-labeltext" class="form-group">
            {% if form.password.errors  %}
              {{ form.password(class="form-control form-control-lg is-invalid lo-loginBox") }}

              <div class="lo-labeltext" class = "invalid-feedback">
                {% for error in form.password.errors %}
                  <span> {{ error }} </span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg lo-loginBox")}}
            {% endif %}  
          </div>
          <div class="form-group">
            <div class="lo-labeltext" class="form-group">
              {{ form.submit(class="lo-Button") }}
            </div>
          </div>
        </form>
        <div class="lo-text-center">
          For security reasons, there is no option for a user to recover their password if it is forgotten.<br>
        </div>
      </div>
    </div>
  </div>
  <div class="lo-floatRight">
    Username: 4-15 Characters
    <br>
    Password: 4-15 Characters
  </div>
  </div>
</body>
{% endblock %}
