{% extends "layout.html" %}
{% block title %}
Tessaract - Mine
{% endblock %}

{% block content %}
<body>
  <div class="contentbg darkbg"></div>
  <div class="contentbg">
    <input type="checkbox" id="toggle" class="visually-hidden" onclick="window.location.href='/sync'">
    <label for="toggle" class="sync-label bl-sync">
      <div class="syncbutton">
          <i class="fa fa-refresh"></i>
      </div>
      <div class="spinico">
          <i class="fa fa-refresh fa-spin"></i>
      </div>
    </label>
  <!-- CLOCK -->
    <div class="clock-container">
      <span class="count tenhr tens"></span>
      <span class="count onehr ones"></span>
      <span class="count" id="colon">:</span>
      <span class="count tenmin tens"></span>
      <span class="count onemin ones"></span>
      <span class="count" id="colon">:</span>
      <span class="count tensec tens"></span>
      <span class="count onesec ones"></span>
    </div>
  <!-- END CLOCK  -->
    <div class="mi-designdiv">
      <input type="checkbox" id="toggle2" class="visually-hidden" onclick="window.location.href='/mineblock/'">
      {% if 2 > blockchain.getNumTransactions() %}
        <strong class="mi-warn left"> NEEDS MORE TRANSACTIONS </strong>
      {% endif %}
      {% if 2 > blockchain.getNumTransactions() %}
        <label class="mi-minebutton">
          MINE
        </label>
      {% else %}
        <label for="toggle2" class="mine-label">
          <div class="mi-minebutton">
            MINE
          </div>
          <div class="mining-text">
            MINING
            <div class="dot-flashing"></div>
          </div>
        </label>
      {% endif %}
      {% if 2 > blockchain.getNumTransactions() %}
        <strong class="mi-warn right"> NEEDS MORE TRANSACTIONS </strong>
      {% endif %}
    </div>
    
    <div class="mi-subbox mi-rewardinfo">
      <div class="mi-title">CURRENT REWARD</div>
      <div class="reward-text">{{ blockchain.getReward() }}</div>
      <!-- {% if blockchain.numTransactions > 10 %}
        <div class="reward-text">{{ blockchain.miningReward + 5 }}</div>
      {% elif blockchain.numTransactions > 25 %}
        <div class="reward-text">{{ blockchain.miningReward + 10 }}</div>
      {% elif blockchain.numTransactions > 100 %}
        <div class="reward-text">{{ blockchain.miningReward + 25 }}</div>
      {% else %}
        <div class="reward-text">{{ blockchain.miningReward }}</div>
      {% endif %} -->
    </div>
    <div class="mi-subbox mi-pendinginfo">
      <div class="mi-title">PENDING TRANSACTIONS </div>
      <div class="pending-box">
        {% for transaction in blockchain.getTransactions() %}
          <small class="mi-translist">{{ transaction.transactionString }}<br></small>
        {% endfor %}
      </div>
      
    </div>
  </div>
</body>
{% endblock %}
