{% extends "layout.html" %}
{% block title %}
<p>Block Title</p>
{% endblock %}

{% block content %}
<body>
  <div class="minebg">
    {% if blockchain.numTransactions > 1 %}
        <small>there are {{ blockchain.numTransactions }} transactions</small>
        <a href="{{ url_for('mineblock') }}" style="color: white;" class="mi-button"> MINE BLOCK</a>
        <br><small> Reward: {{ blockchain.miningReward}}</small>
    {% else %}
      <small> there arent enough transactions to mine a block</small>
    {% endif %}
  </div>
  
</body>
{% endblock %}
