{% extends "layout.html" %}
{% block title %}
<p>Block Title</p>
{% endblock %}

{% block content %}
<body>
  <div class="contentbg">
    {% if blockchain.numTransactions > 1 %}
      <form action="/mineblock/" method="post">
        <button name="mineblock" type="submit">Mine Block</button>
        <small>there are {{ blockchain.numTransactions }} transactions</small>
      </form>
    {% else %}
      <small> there arent enough transactions to mine a block</small>
    {% endif %}
  </div>
  
</body>
{% endblock %}
