{% extends "layout.html" %}
{% block title %}
Tessaract - Node
{% endblock %}

{% block content %}
<body>
    <div class="contentbg darkbg"></div>
    <div class="contentbg">
        {% for node in nodesDict %}
            <small>Node #{{ node }}: {{ nodesDict[node] }} users.</small>
            <small>Length: {{ chains[node-1].length }}</small>
            <br>
        {% endfor %}
        <a href="{{ url_for('sync', current_page=request.path) }}" class="sync">Sync</button>
    </div>
</body>
{% endblock %}
