{% extends "layout.html" %}
{% block title %}
Tessaract - Register
{% endblock %}

{% block content %}
  <title>Lucrum - Register</title>

  <!-- Custom fonts for this template--> 
  <link href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename = 'css/sb-admin.css')}}" rel="stylesheet" type="text/css">
  </head>

  <body class="bg-dark">
    <div class="contentbg darkbg"></div>
      <div class="contentbg">
        <div class="lo-titlecontainer">
          <br><strong class="lo-title">REGISTER</strong><br><br>
          <a href="{{ url_for('login') }}" class="bl-subtitle">Already have an account?</a>
        </div>
        <div class="lo-floatLeft">
          <div class="card card-register mx-auto mt-5">
            <div class="card-body">
              <form method = "POST", action = "">
                {{ form.hidden_tag() }}
                <div class="lo-labeltext" class="form-group">
                  {% if form.username.errors  %}
                    {{ form.username(class="form-control form-control-lg is-invalid re-loginBox") }}
                    <div class="lo-labeltext" class = "invalid-feedback">
                      {% for error in form.username.errors %}
                        <span> {{ error }} </span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.username(class="form-control form-control-lg lo-loginBox")}}
                  {% endif %}
                </div>
                <div class="lo-labeltext" class="form-group">
                  {% if form.password.errors  %}
                    {{ form.password(class="form-control form-control-lg is-invalid lo-loginBox") }}
                    <div class="lo-labeltext" class = "invalid-feedback">
                      {% for error in form.password.errors %}
                        <span> {{ error }} </span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password(class="form-control form-control-lg lo-loginBox")}}
                  {% endif %}
                </div>
                <div class="lo-labeltext" class="form-group">
                  {% if form.confirmPassword.errors  %}
                    {{ form.confirmPassword(class="form-control form-control-lg is-invalid lo-loginBox") }}
                    <div class="lo-labeltext" class = "invalid-feedback">
                      {% for error in form.confirmPassword.errors %}
                        <span> {{ error }} </span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.confirmPassword(class="form-control form-control-lg lo-loginBox")}}
                  {% endif %}
                </div>
                <div class="lo-labeltext" class="form-group">
                  {{ form.submit(class="lo-Button") }}
                </div>
              </form>
              <div class="lo-text-center">
                For security reasons, there is no option for a user to recover their password if it is forgotten.<br>
              </div>
            </div>
          </div>
        </div>
        <div class="lo-floatRight">
          When an account is created, a pair of public/private keys are generated and stored in a virtual wallet. 
          <br>
          <br>
          Our wallets provide a simple way for users to send and recieve transactions without having to deal with keys.
          <br>
          <br>
          When a wallet is first created, it is assigned a node. This node can be changed on the nodes page at any time.
          <br>
          <br>
          Since our network is partially simulated, the nodes are systematically provisioned and do not vary in location and performance.
          <br>
          <br>
          <br>
          <br>
          Username: 4-15 Characters
          <br>
          Password: 4-15 Characters
        </div>
      </div>
    </body>
{% endblock %}
