{% extends "layout.html" %}
{% block title %}
<p>Block Title</p>
{% endblock %}

{% block content %}
<body>
  <div class="contentbg darkbg"></div>
  <div class="contentbg wa-content">
    <input type="checkbox" id="toggle" class="visually-hidden" onclick="window.location.href='/sync'">
    <label for="toggle" class="sync-label wa-sync">
      <div class="syncbutton">
          <i class="fa fa-refresh"></i>
      </div>
      <div class="spinico">
          <i class="fa fa-refresh fa-spin"></i>
      </div>
    </label>
    <div class="switchbox">
      <label class="switch">
        <input type="checkbox" id="toggleWA" onchange="toggleCheck()">
        <span class="slider"></span>
      </label>
    </div>
    <div class="wa-subbox wa-userpage">
      <div class="bl-titlecontainer">
        <strong class="bl-title">Welcome {{ current_user.wallet.name }}!</strong><br>
        <strong class="bl-subtitle">Local time: {{ date }}</strong><br><br>
        <strong class="bl-subtitle">Balance: {{ balance }}</strong>
      </div>
    </div>

    <div class="wa-subbox wa-floatRight wa-TransactionHistory">
      Transaction History:
      <br><br>
    <a onclick="showPending()" class="wa-Button">Pending Transactions</a>
    <a onclick="showHistory()" class="wa-Button wa-HistoryButton">Transaction History</a>
  </div>
  <div class="wa-subbox wa-floatRight wa-PendingTransactions">
    Pending Transactions:
    <br>
    <br>
    {%for trans in blockchain.newTransactions%}
        {%if trans.sender.name == wallet.name%}
        <small>Trans: {{ trans.amount }} </small>
        <br>
        <small>Sender: {{ trans.sender.name }} </small>
        <br>
        <small>Reciever: {{ trans.reciever.name }} </small>
        <br>
        <br>
        {%endif%}
        {%if trans.reciever.name == wallet.name%}
        <small>Trans: {{ trans.amount }} </small>
        <br>
        <small>Sender: {{ trans.sender.name }} </small>
        <br>
        <small>Reciever: {{ trans.reciever.name }} </small>
        <br>
        <br>
        {%endif%}
    {%endfor%}
  </div>
  <div class="wa-subbox wa-floatRight wa-TransactionHistory">
    Transaction History:
    <br>
    <br>
    {%for block in blockchain.chain%}
      {%for trans in block.transactions%}
        {%if trans.sender.name == wallet.name%}
        <small>Trans: {{ trans.amount }} </small>
        <br>
        <small>Sender: {{ trans.sender.name }} </small>
        <br>
        <small>Reciever: {{ trans.reciever.name }} </small>
        <br>
        <br>
        {%endif%}
        {%if trans.reciever.name == wallet.name%}
        <small>Trans: {{ trans.amount }} </small>
        <br>
        <small>Sender: {{ trans.sender.name }} </small>
        <br>
        <small>Reciever: {{ trans.reciever.name }} </small>
        <br>
        <br>
        {%endif%}
      {%endfor%}
    {%endfor%}
  </div>
  </div>
<script>
  function showPending() {
    var pendingDiv = document.getElementsByClassName('wa-PendingTransactions')[0];
    pendingDiv.style.setProperty("display", "block");
    var historyDiv = document.getElementsByClassName('wa-TransactionHistory')[0];
    historyDiv.style.setProperty("display", "none");
  }
</script>
<script>
  function showHistory() {
    var historyDiv = document.getElementsByClassName('wa-TransactionHistory')[0];
    historyDiv.style.setProperty("display", "block");
    var pendingDiv = document.getElementsByClassName('wa-PendingTransactions')[0];
    pendingDiv.style.setProperty("display", "none");
  }
</script>
</body>
{% endblock %}
