{% extends "layout.html" %}
{% block title %}
<p>Block Title</p>
{% endblock %}

{% block content %}
<body>
  <div class="contentbg darkbg"></div>
  <div class="contentbg wa-subbox wa-floatLeft">
    <small>Hi {{ wallet.name }}<br><br></small> 
    <small>Balance: {{ balance }}<br><br></small> 
      <br><br>
    <a href="{{ url_for('mine') }}" class="wa-Button">Pending Transactions</a>
    <a href="{{ url_for('mine') }}" class="wa-Button wa-HistoryButton">Transaction History</a>
    
  </div>
</body>
{% endblock %}
